:root {
  font-family: "Open Sans",sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}

.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 2rem;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  background-color: black;
  padding-bottom: 3rem;
}

.img-container {
  height: 12rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-img {
  border-radius: 100%;
  height: 80%;
  width: 80%;
  border: 2px solid #FFC436;
  transition: 0.2s ease-in-out;
  animation: fadeIn 1s ease-in-out;
}

.header-img:hover {
  opacity: 70%;
}


.main-header {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: fadeIn 1s ease-in-out;
}

.header-h1 {
  font-weight: 600;
  line-height: 1.4;
  font-size: 6.5rem;
  color: #FFC436;
  animation: fadeIn 1s ease-in-out;

}

.header-p {
  margin-top: 2rem;
  animation: fadeIn 1s ease-in-out;
}

.plazas-div {
  width: 100%;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.plazas-text {
  text-decoration: underline;
  font-weight: 500;
  margin-top: 1rem;
}

.plazas-svg {
  fill: #FFC436;
  margin-top: 1rem;
  margin-left: 1rem;
}

.plazas-month {
  font-weight: 100;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.default-btn {
  font: inherit;
  margin-top: 2.5rem;
  height: 4.5rem;
  width: 15rem;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 50px;
  border: 2px solid #FFC436;
  background-color:  black;
  transition: transform 0.2s ease-in-out;
  color: #FFC436;
  cursor: pointer;
  border-color: #FFC436;
  animation: fadeIn 2.5s ease-in-out;
}

.default-btn:hover {
  transform: scale(1.1);
  color: #FFC436;
  border: 2px #FFC436 solid;
}

.body {
  background-color: #303030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 4rem;
  width: 100%;
  font-weight: 600;
  line-height: 1.4;
  border-top: 2px solid #F09334;
}

.body-title {
  font-size: 4rem;
  font-weight: 700;
  color: #F09334;
}

.body-p {
  margin-top: 0.5rem;
  font-size: 1.5rem;
}

.underline-1 {
  color: palevioletred;
  font-weight: bold;
}

.underline-2 {
  color: #F09334;
  font-weight: bold;
}

.mucho {
  color: #F09334;
}

.body-card {
  width: 35rem;
  height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1.5px #F09334 solid;
  border-radius: 1rem;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding-bottom: 1rem;
  transition: border 0.3s ease, color 0.3s ease;
}

.body-card:hover {
  border: 1.5px purple solid;
}

.card-gif {
  height: 100%;
}

.card-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1200px) {
  .card-container {
    flex-direction: column;
    margin-top: 4rem;
  }  
  .body-card {
    width: 80%;
    margin-top: 0;
  }
  }

  .monetize-container {
    width: 99vw;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: center;
  }

.animate {
  animation: fadeIn 1.5s ease-in-out; /* Duración de 1 segundo con efecto de aceleración y desaceleración */

}
@keyframes fadeIn {
  from {
    opacity: 0; /* Iniciar con opacidad cero (invisible) */
  }
  to {
    opacity: 1; /* Terminar con opacidad completa (visible) */
  }
}


  .monetize-img-div {
    width: 30%;
    height: 35rem;
    margin-right: 3rem;
  }

  .monetize-text-div {
    width: 35%;
    text-align: left;
    padding-top: 5%;
  }
  .monetize-text {
    font-size: 3.8rem;
  }
  .monetize-img {
    width: 100%;
    height: 90%;
    margin-top: 5%;
    border-radius: 1.75rem;
  }

  .pasos {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .pasos-orange {
    color:#F09334;
  }
  .pasos-header {
    line-height: 0.8;
    font-size: 2rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .pasos-text {
    width: 70%;
    margin-top: 2rem;
    font-size: 100%;
    text-align: left;
    font-weight: 400;
    margin-bottom: 2rem;
  }

  .trabajo-div {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .sold-out-container {
    font-size: 2rem;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: 600;
  }

  .sold-out-txt {
    font-size: 1.35rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

.money-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.money-svg {
  fill: white;
  height: 10vh;
  width: fit-content;
  transition: all ease-in-out 0.3s;
  margin-top: 5rem;
}

.money-svg:hover {
  fill: purple;
  cursor: pointer;
}

.visible {
  opacity: 1; /* Hacer visible con opacidad completa */
  visibility: visible; /* Hacerlo visible */
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Agregar transición para opacidad y visibilidad */
  margin-bottom: 2rem;
}

.hidden {
  opacity: 0; /* Hacerlo invisible */
  visibility: hidden; /* Ocultarlo */
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Agregar transición para opacidad y visibilidad */
  margin-bottom: 2rem;
}

.faq-container {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  margin-bottom: 1rem;
}

.faq-title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.pre-footer {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pre-footer-block {
  background-color: #F09334;
  width: 70%;
  height: 60%;
  border-radius: 1rem;
  font-size: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pre-footer-btn {
  font: inherit;
  margin-top: 2.5rem;
  height: 4.5rem;
  width: 28%;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 50px;
  border: none;
  background-color:  #303030;
  transition: transform 0.2s ease-in-out;
  color: white;
  cursor: pointer;
}

.pre-footer-btn:hover {
  transform: scale(1.1);
}

@media (max-width: 1450px) {
  .pre-footer-block {
    font-size: 3.5vh;
  }
}

@media (max-width: 650px) {
  .pre-footer-block {
    font-size: 3vh;
  }
  .pre-footer-btn {
    font-size: 1rem;
    width: 50%;
    height: 3.5rem;
  }
}

.footer-container {
  height: 10vh;
  width: 100%;
}

@media (max-width: 400px) {
  .pre-footer-block {
    font-size: 2.5vh;
    width: 80%;
  }
  .pre-footer-btn {
    font-size: 0.8rem;
    width: 50%;
    height: 3.5rem;
  }
}
  
  
  @media (max-width: 1450px) {
    .monetize-text {
      font-size: 3rem;
    }
    .monetize-img-div {
      width: 40%;
    }
  
  }

  

  @media (max-width: 1100px) {
    .monetize-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .monetize-img-div {
      width: 50%;
      height: 35rem;
      margin-right: 3rem;
    }
  
    .monetize-text-div {
      width: 60%;
      text-align: center;
      padding-top: 5%;
    }
    .monetize-text {
      font-size: 3.8rem;
    }
    .monetize-img {
      width: 100%;
      height: 90%;
      margin-top: 5%;
      border-radius: 1.75rem;
    }
  
    }

    @media (max-width: 1000px) {
      .monetize-img-div {
        width: 60%;
        height: 35rem;
        margin-right: 3rem;
      }  
    }

    
    @media (max-width: 750px) {
      .monetize-img-div {
        width: 70%;
        height: 35rem;
        margin-left: 3rem;
      }
      .monetize-text-div {
        width: 70%;
      }  
      .monetize-text {
        font-size: 3rem;
      }
    }


@media (max-width: 500px) {
  .body-title {
    font-size: 3rem;
    font-weight: 700;
    color: #F09334;
  }
  .body-p {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .monetize-img-div {
    width: 90%;
    display: flex;
    padding: 0;
    justify-content: center;
    height: 35rem;
    margin-right: 0;
  }

  .monetize-img {
    width: 90%;
  }
  
  }

  @media (max-width: 380px) {
    .body-title {
      font-size: 2.5rem;
      font-weight: 700;
      color: #F09334;
    }
    .body-p {
      margin-top: 1rem;
      font-size: 1rem;
    }
    .monetize-img-div {
      width: 85%;
      height: 20rem;
    }
    .monetize-text-div {
      width: 100%;
    }  
    .monetize-text {
      font-size: 2.5rem;
    }
    .monetize-img {
      width: 90%;
    }
  }

    
    
  

@media (max-width: 640px) {
  .header-h1 {
    font-weight: 600;
    line-height: 1.4;
    font-size: 4rem;
  }  
}

@media (max-width: 435px) {
  .header-h1 {
    font-weight: 600;
    line-height: 1.4;
    font-size: 3rem;
  }  
}